<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306953514378-up1acaqo130s4sc21fc3qnjoj2psg3mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306953514378-up1acaqo130s4sc21fc3qnjoj2psg3mp</string>
	<key>API_KEY</key>
	<string>AIzaSyBXiNSVGe9RFb-jm6BwzWh29reCJ_pl4Qg</string>
	<key>GCM_SENDER_ID</key>
	<string>306953514378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trivial.deneme</string>
	<key>PROJECT_ID</key>
	<string>deneme-ef2bf</string>
	<key>STORAGE_BUCKET</key>
	<string>deneme-ef2bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306953514378:ios:893a21433db5ea4ac76c73</string>
</dict>
</plist>